body {
    font-family: '';
}

a {
  text-decoration: none;
}

.bg-grey-add {
    background-color: #F7F7F7;
}

.bg-white-add {
    background-color: #FFFFFF;
}

.bg-biruTB-add {
    background-color: #0F6FC5;
}


.bg-blue-var-1 {
    background-color: #CAF0F8;
}

.bg-blue-var-2 {
    background-color: #90E0EF;
}

.bg-blue-var-3 {
    background-color: #00B4D8;
}

.bg-blue-var-4 {
    background-color: #0077B6;
}

.bg-blue-var-5 {
    background-color: #0F6FC5;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
  

.carousel {
    width: 50vh;
    margin: auto;
    padding: 10vh;
}

.carousel-item img {
    width: 25vh;
    height: auto;
}

.background-zeru {
    background: url(/assets/blob.svg);
    background-size: cover;
}

#title-container {
    height: 20vh;
}

#carousel-container {
    height: 50vh;
}

.carousel-jurusan-addon {
    width: 55vh;
}

#class-container {
    min-height: 30vh;
}

.card:hover{
    transform: scale(1.05);
}

@media only screen and (max-width: 450px) {
    .carousel {
        width: 40vh !important; /* Add !important to override existing styles */
        margin: 5vh !important;
    }

    .carousel-item img {
        width: 20vh !important; /* Add !important to override existing styles */
    }

}
